@import "tailwindcss";

/* HTML: <div class="loader"></div> */
.loader {
  width: 150px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}







.heigh-gradient {
    background: linear-gradient(to right, #9c0000, #f53d3d);
}


.med-gradient {
    background: linear-gradient(to right, #f17527, #ffaf7e);
}


.low-gradient {
    background: linear-gradient(to right, #f7df0f, #f8e74e);
}
